## DAY - 11

Q1)Write Python Code to print these patterns

A)

In [1]:
n = int(input("enter no. of rows:")) 
for i in range(n): 
    for j in range(i+1): 
        print('*', end=' ')
    print()

enter no. of rows:5
*
* *
* * *
* * * *
* * * * *

B)

In [2]:
n = int(input("enter no. of rows:"))

for i in range(1, n + 1):
    for j in range(i):
        print(i, end='')
    print()

enter no. of rows:5
1
22
333
4444
55555

C)

In [3]:
n = int(input("enter no. of rows:"))

for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end='')
    print()

enter no. of rows:5
1
12
123
1234
12345

D)

In [6]:
n = int(input("enter no. of rows:"))
num = 2

for i in range(1, n + 1):
    for j in range(i):
        print(num, end='')
        num += 1
    print()

enter no. of rows:5
2
34
567
891011
1213141516

E)

In [9]:
n = int(input("enter no. of rows:"))

for i in range(1, n + 1):
    for j in range(i):
        if (i + j) % 2 == 0:
            print("0", end='')
        else:
            print("1", end='')
    print()

enter no. of rows:5
1
01
101
0101
10101

F)

In [11]:
n = int(input("enter no. of rows:"))
num = 1

for i in range(1, n + 1):
    for j in range(i):
        print(num, end='')
        num += 1
    print()

enter no. of rows:5
1
23
456
78910
1112131415

G)

In [1]:
n=int(input("Enter length:"))
for i in range(n+1):
    for j in range(n,n-i,-1):
        print(j,end=" ")
    print(" \n")

Enter length:5


5

5 4

5 4 3

5 4 3 2

5 4 3 2 1

H)

In [2]:
n=int(input("Enter length:"))
a=n
for i in range(n):
    for j in range(i+1):
        print(a,end=" ")
    a=a-1
    print(" \n")

Enter length:5
5

4 4

3 3 3

2 2 2 2

1 1 1 1 1

I)

In [3]:
n=int(input("Enter length:"))
for i in range(n,0,-1):
    for j in range(i,0,-1):
        print("*",end="")
    print()

Enter length:5
*****
****
***
**
*

J)

In [4]:
n=int(input("Enter length:"))
cnt=1
for i in range(n,0,-1):
    for j in range(i,0,-1):
        print(cnt,end="")
    cnt=cnt+1
    print()

Enter length:5
11111
2222
333
44
5

K)

In [5]:
n=int(input("Enter length:"));
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(j,end=" ")
    print(" \n")

Enter length:5
1 2 3 4 5

1 2 3 4

1 2 3

1 2

1

In [6]:
n=int(input("Enter length:"))
cnt=1
for i in range(n,0,-1):
    for j in range(i,0,-1):
        print(cnt,end="")
    cnt=cnt+1
    print()

Enter length:5
11111
2222
333
44
5

In [7]:
n=int(input("Enter length:"))
a=n
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(a,end=" ")
    a=a-1
    print(" \n")

Enter length:5
5 5 5 5 5

4 4 4 4

3 3 3

2 2

1

In [8]:
n=int(input("Enter length:"))

for i in range(n,0,-1):
    a=n
    for j in range(1,i+1):
        print(a,end=" ")
        a=a-1
    print(" \n")

Enter length:5
5 4 3 2 1

5 4 3 2

5 4 3

5 4

5

Q2)

In [9]:
rows = int(input("Enter number of rows: "))
k = 0
for i in range(1, rows+1):
    for space in range(1, (rows-i)+1):
        print(end="  ")
    while k!=(2*i-1):
        print("* ", end="")
        k += 1
    k = 0
    print()

Enter number of rows: 5
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [10]:
n = 5
for i in range(n):
    for j in range(n - i - 1):
        print(' ', end='')
    for k in range(2 * i + 1):
        print(k + 1, end='')
    print()

    1
   123
  12345
 1234567
123456789

In [11]:
for x in range(1,6):
    for y in range(5,x-1):
        print("",end="")
    for z in range(0,x):
        print("*",end="")
    print()

*
**
***
****
*****

In [12]:
for x in range(1,6):
    for y in range(5,x,-1):
        print(" ",end="")
    for z in range(1,x+1):
        print(z,end="")
    print()

    1
   12
  123
 1234
12345

In [13]:
inc=1
num=1
for x in range(5,0,-1):
    for y in range(x,0,-1):
        print(" ",end="")
    print(str(num)*inc)
    num+=1
    inc+=2

     1
    222
   33333
  4444444
 555555555

In [14]:
inc=1
for x in range(5,0,-1):
    for y in range(x,0,-1):
        print(" ",end="")
    for z in range(1,inc+1):
        print(z,end="")
    inc+=2
    print()

     1
    123
   12345
  1234567
 123456789

In [15]:
for x in range(1,6):
    for y in range(5,0,-1):
        if x>=y:
            print("* ",end="")
        else:
            print(" ",end="")
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [16]:
n=4
pc=1
for x in range(1,n+1):
    for y in range(n-1,x-1,-1):
        print(" ",end="")
    for z in range(x-1,-x,-1):
        print(pc -abs(z),end="")
    pc+=2
    print()

   1
  232
 34543
4567654

In [17]:
for i in range(1,7):
    print(" "*(6-i),end="")
    for j in range(5,5-i+2,-1):
        print(j,end="")
    if i>=2:
        for j in range(5-(i-1)+1,5+1):
            print(j,end="")
    print()

    5
   545
  54345
 5432345
543212345

In [18]:
for i in range(1,6):
    print(" "*i,end="")
    print("*"*(6-i),end="")
    print("*"*(6-i-1),end="")
    print()

 *********
  *******
   *****
    ***
     *

In [19]:
for i in range(1,6):
    print(" "*i,end="")
    print(f"{6-i}"*(6-i),end="")
    print(f"{6-i}"*(6-i-1))

 555555555
  4444444
   33333
    222
     1

In [20]:
for i in range(1,6):
    print(" "*i,end="")
    for j in range(1,11-2*i+1):
        print(j,end="")
    print()

 123456789
  1234567
   12345
    123
     1

In [21]:
for i in range(1,6):
    print(" "*i,end="")
    for j in range(5-i+1,9-2*i+2+1):
        print(j,end="")
    for j in range(8-2*i+2,5-i,-1):
        print(j,end="")
    print()

 567898765
  4567654
   34543
    232
     1

In [22]:
for i in range(1,6):
    print(" "*i,end="")
    for j in range(5,i-1,-1):
        print(j,end="")
    for j in range(2+i-1,5+1):
        print(j,end="")
    print()

 543212345
  5432345
   54345
    545
     5

In [23]:
for i in range(1,6):
    print(" "*(6-i),end="")
    print("*"*(2*i-1))
for i in range(2,6):
    print(" "*i,end="")
    print("*"*(6-i),end="")
    print("*"*(6-i-1),end="")
    print()

     *
    ***
   *****
  *******
 *********
  *******
   *****
    ***
     *

In [24]:
for i in range(1,6):
    print(" "*(6-i),end="")
    print(f"{i}"*(2*i-1))
for i in range(2,6):
    print(" "*i,end="")
    print(f"{6-i}"*(6-i),end="")
    print(f"{6-i}"*(6-i-1))

     1
    222
   33333
  4444444
 555555555
  4444444
   33333
    222
     1

In [25]:
for i in range(1,6):
    print(" "*(6-i),end="")
    for j in range(1,2*i):
        print(j,end="")
    print()
for i in range(2,6):
    print(" "*i,end="")
    for j in range(1,11-2*i+1):
        print(j,end="")
    print()

     1
    123
   12345
  1234567
 123456789
  1234567
   12345
    123
     1

In [26]:

k=1
t=2
for i in range(1,6):
    print(" "*(6-i),end="")
    for j in range(1,i+1):
        print(k,end="")
        if(j==2):
            t=k
        k=k+1
    k=t
    if i>=2:
        for j in range(i+(i-2),i-1,-1):
            print(j,end="")
    print()
for i in range(2,6):
    print(" "*i,end="")
    for j in range(5-i+1,9-2*i+2+1):
        print(j,end="")
    for j in range(8-2*i+2,5-i,-1):
        print(j,end="")
    print()

     1
    232
   34543
  4567654
 567898765
  4567654
   34543
    232
     1

In [27]:
for i in range(1,7):
    print(" "*(6-i),end="")
    for j in range(5,5-i+2,-1):
        print(j,end="")
    if i>=2:
        for j in range(5-(i-1)+1,5+1):
            print(j,end="")
    print()
for i in range(2,6):
    print(" "*(i-1),end="")
    for j in range(5,i-1,-1):
        print(j,end="")
    for j in range(2+i-1,5+1):
        print(j,end="")
    print()

    5
   545
  54345
 5432345
543212345
 5432345
  54345
   545
    5

In [28]:
for i in range(1,8):
    print("*"*7)

*******
*******
*******
*******
*******
*******
*******

In [29]:
for i in range(1,8):
    if i==1 or i==7:
         print("*"*7)
    else:
        print("*     *")

*******
*     *
*     *
*     *
*     *
*     *
*******

In [30]:
for i in range(1,8):
    for j in range(1,8):
        if(j==i):
            print("\\",end="")
        elif j==8-i:
            print("/",end="")
        else:
            print("*",end="")
    print()

\*****/
*\***/*
**\*/**
***\***
**/*\**
*/***\*
/*****\

In [31]:
for i in range(1,6):
    print("-"*(15-3*i+3),end="")
    print(".|."*(2*i-1),end="")
    print("-"*(15-3*i+3))
    
print("-"*13,"WELCOME","-"*13)
for i in range(1,6):
    print("-"*(3*(i-1)+3),end="")
    print(".|."*(6-i),end="")
    print(".|."*(6-i-1),end="")
    print("-"*(3*(i-1)+3),end="")
    print()

---------------.|.---------------
------------.|..|..|.------------
---------.|..|..|..|..|.---------
------.|..|..|..|..|..|..|.------
---.|..|..|..|..|..|..|..|..|.---
------------- WELCOME -------------
---.|..|..|..|..|..|..|..|..|.---
------.|..|..|..|..|..|..|.------
---------.|..|..|..|..|.---------
------------.|..|..|.------------
---------------.|.---------------

In [32]:
size = 10
l = 'abcdefghijk'
for i in range(size-1, -size, -1):
    s = '-'.join(l[size-1:abs(i):-1]+l[abs(i):size])
    print(s.center(4*size-3, '-'))

------------------j------------------
----------------j-i-j----------------
--------------j-i-h-i-j--------------
------------j-i-h-g-h-i-j------------
----------j-i-h-g-f-g-h-i-j----------
--------j-i-h-g-f-e-f-g-h-i-j--------
------j-i-h-g-f-e-d-e-f-g-h-i-j------
----j-i-h-g-f-e-d-c-d-e-f-g-h-i-j----
--j-i-h-g-f-e-d-c-b-c-d-e-f-g-h-i-j--
j-i-h-g-f-e-d-c-b-a-b-c-d-e-f-g-h-i-j
--j-i-h-g-f-e-d-c-b-c-d-e-f-g-h-i-j--
----j-i-h-g-f-e-d-c-d-e-f-g-h-i-j----
------j-i-h-g-f-e-d-e-f-g-h-i-j------
--------j-i-h-g-f-e-f-g-h-i-j--------
----------j-i-h-g-f-g-h-i-j----------
------------j-i-h-g-h-i-j------------
--------------j-i-h-i-j--------------
----------------j-i-j----------------
------------------j------------------